@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  font-family: "ヒラギノ明朝 ProN";
  color: #000;
  line-height: 1.7;
  background-color: #fff;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  padding: 0 5%;
}

.red-coler {
  color: #E42B00;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
  padding-top: 20px;
}

.header-big-tel {
  font-size: 24px;
  font-weight: 600;
  text-align: right;
}

.header-big-tel a {
  color: #000;
}

.header-holiday {
  font-weight: 600;
  text-align: right;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom .header-logo {
  width: 200px;
}

.header-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom ul li {
  margin-left: 20px;
}

.header-bottom ul li a {
  color: #000;
  font-weight: 600;
}

.header-bottom ul li a:hover {
  opacity: 0.7;
  color: #E42B00;
}

.header-bottom nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*-------------------------------------------
当店のこだわり
-------------------------------------------*/
.commitment-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-top: 100px;
}

.commitment-area01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.commitment-area01 .commitment-left {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commitment-area01 .commitment-left h3 {
  font-size: 56px;
  font-weight: 600;
}

.commitment-area01 .commitment-left p {
  padding-right: 10%;
  padding-left: 5%;
}

.commitment-area01 .commitment-left h4 {
  padding-right: 10%;
  padding-left: 5%;
  padding-bottom: 20px;
}

.commitment-area01 .commitment-right {
  width: 50%;
}

.commitment-area02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.commitment-area02 .commitment-left {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commitment-area02 .commitment-left h3 {
  font-size: 56px;
  font-weight: 600;
}

.commitment-area02 .commitment-left p {
  padding-right: 10%;
  padding-left: 5%;
}

.commitment-area02 .commitment-left h4 {
  padding-right: 10%;
  padding-left: 5%;
  padding-bottom: 20px;
}

.commitment-area02 .commitment-right {
  width: 50%;
}

.red-commitment {
  color: #E42B00;
  font-size: 24px;
  font-weight: 600;
}

.btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-area a {
  display: block;
  padding: 30px 10px;
  margin: 100px auto;
  width: 260px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: #E42B00;
  border-image-source: repeating-linear-gradient(45deg, #000 0px, #000 4px, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0) 6px);
  border-image-slice: 3;
  border-width: 3px;
  border-image-repeat: round;
  border-style: solid;
}

.btn-area a:hover {
  opacity: 0.7;
  color: #fff;
}

/*-------------------------------------------
ご挨拶
-------------------------------------------*/
.black-greeting {
  font-size: 36px;
  font-weight: 600;
}

.red-greeting {
  font-size: 36px;
  font-weight: 600;
  color: #E42B00;
  padding-right: 10px;
}

#greeting-area {
  background-image: url(../img/aisatu-haikei.jpg);
  background-size: cover;
}

#greeting-area .commitment-title {
  padding: 100px 0;
}

#greeting-area .greeting-comment {
  margin-top: 100px;
  padding-bottom: 100px;
}

#greeting-area .greeting-comment .greeting-comment-02 {
  margin-top: 30px;
}

#greeting-area .greeting-comment .greeting-comment-03 {
  margin-top: 30px;
}

#greeting-area .greeting-comment .greeting-comment-04 {
  margin-top: 30px;
}

#greeting-area .greeting-comment .greeting-comment-05 {
  margin-top: 30px;
}

#greeting-area img {
  width: 100%;
}

/*-------------------------------------------
新着情報
-------------------------------------------*/
.information-area-sns {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5% 100px;
}

.information-area-sns .information-area-left {
  width: 50%;
  text-align: left;
  padding-right: 2%;
}

.information-area-sns .information-area-right {
  width: 50%;
  text-align: left;
  padding-left: 2%;
}

.information-area-sns p {
  margin-bottom: 20px;
  padding: 0 5%;
}

.sns {
  text-align: center;
  font-size: 24px;
  color: #E42B00;
}

/*-------------------------------------------
店内の様子
-------------------------------------------*/
#shop-area {
  background-image: url(../img/tennai-haikei.jpg);
  background-size: cover;
  padding-bottom: 100px;
  margin: 0 auto;
}

#shop-area .commitment-title {
  padding-top: 100px;
  padding-bottom: 100px;
}

#shop-area p {
  padding: 0 5%;
}

#shop-area .shop-area-img01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 5% 60px;
  margin: 0 auto;
}

#shop-area .shop-area-img01 .shop-area-left {
  padding-right: 5%;
}

#shop-area .shop-area-img01 .shop-area-right {
  padding-left: 5%;
}

#shop-area .shop-area-img01 img {
  padding-top: 30px;
  width: 100%;
}

#shop-area .shop-area-comment {
  background-color: #fff;
  margin: 60px 20% 0;
}

#shop-area .shop-area-comment p {
  padding: 20px 10px;
}

/*-------------------------------------------
営業カレンダー
-------------------------------------------*/
#calendar-area .commitment-title {
  padding-bottom: 100px;
}

#calendar-area .google-calender {
  text-align: center;
}

/*-------------------------------------------
アクセス
-------------------------------------------*/
#access-area .commitment-title {
  padding-bottom: 100px;
}

#access-area .google-map {
  text-align: center;
}

/*-------------------------------------------
店舗情報
-------------------------------------------*/
#store-information-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}

#store-information-area .commitment-title {
  text-align: left;
}

#store-information-area .store-information-left {
  padding: 30px 2% 0 5%;
  width: 50%;
}

#store-information-area .store-information-left dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#store-information-area .store-information-left dt {
  padding: 20px 0;
  width: 180px;
  border-bottom: 2px solid #E42B00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#store-information-area .store-information-left dd {
  padding: 20px 0;
  width: calc(100% - 180px);
  border-bottom: 2px solid #bbb;
}

#store-information-area .store-information-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 5%;
}

#store-information-area .store-information-right img {
  width: 100%;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
.footer {
  background-color: #F4F4F4;
}

.footer .footer-area {
  text-align: center;
}

.footer .footer-area .footer-logo {
  width: 200px;
  margin: 0 auto;
  padding-top: 60px;
}

.footer .footer-area .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.footer .footer-area .footer-nav li {
  margin: 0 10px;
  font-weight: 600;
}

.footer .footer-area .footer-nav li a {
  color: #000;
}

.footer .footer-area .footer-nav li a:hover {
  opacity: 0.7;
  color: #E42B00;
}

.footer .copy-area {
  text-align: center;
  margin: 50px 0 0;
  padding-bottom: 50px;
}

/*-------------------------------------------
ページTOPに戻る 
-------------------------------------------*/
.pagetop {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  padding-right: 5%;
}

.pagetop a {
  display: block;
  font-size: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #E42B00;
  line-height: 50px;
}

.pagetop a:hover {
  color: #F4F4F4;
  opacity: 0.7;
}

.pagetop a i {
  font-size: 20px;
  color: #fff;
  line-height: 50px;
}

/*-------------------------------------------
スタッフ紹介
-------------------------------------------*/
#main-visualarea img {
  width: 100%;
}

.staff-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 100px;
  padding-bottom: 100px;
}

.staff-introduction .staff-introduction-left {
  width: 50%;
  padding-right: 5%;
}

.staff-introduction .staff-introduction-left img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.staff-introduction .staff-introduction-left .staff-introduction-name {
  font-size: 32px;
  padding-bottom: 30px;
}

.staff-introduction .staff-introduction-right {
  width: 50%;
}

.staff-introduction .staff-introduction-right dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.staff-introduction .staff-introduction-right dl dt {
  width: 10%;
}

.staff-introduction .staff-introduction-right dl dd {
  width: 90%;
}

.staff-introduction .staff-introduction-right .staff-introduction-list {
  padding-top: 20px;
}

/*-------------------------------------------
メニュー
-------------------------------------------*/
#menu-area .menu-title-area {
  padding: 100px 0 0;
}

#menu-area .menu-area01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
  margin-top: 100px;
}

#menu-area .menu-area01 .menu-area-left {
  width: 50%;
  margin-right: 5%;
}

#menu-area .menu-area01 .menu-area-right {
  width: 50%;
  margin-left: 5%;
}

#menu-area .menu-title {
  color: #E42B00;
  padding: 0 5px 10px 5px;
}

#menu-area .lunch-menu-area {
  margin-top: 100px;
  text-align: center;
}

#menu-area .lunch-menu-area h4 {
  font-size: 24px;
  margin-bottom: 50px;
}

#menu-area .lunch-menu-area span {
  font-size: 16px;
}

#menu-area .lunch-menu-area .lunch-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu-area .lunch-menu-area dt {
  color: #E42B00;
  width: 35%;
  padding: 10px 20px;
  text-align: right;
}

#menu-area .lunch-menu-area dd {
  padding: 10px 20px;
  width: calc(100% - 35%);
  text-align: left;
}

#menu-area .spmenu-title-area {
  display: none;
}

#menu-list-area {
  padding-top: 100px;
  padding-bottom: 50px;
}

#menu-list-area .menu-List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 5%;
  margin-top: 100px;
}

#menu-list-area .menu-List .list-box {
  width: 46%;
}

#menu-list-area .menu-List .list-box .menu-list-title {
  color: #E42B00;
  font-size: 20px;
  padding-bottom: 20px;
}

#menu-list-area .menu-List .list-box p {
  font-weight: 600;
}

#menu-list-area .menu-List dt {
  margin-bottom: 0.5rem;
  background-image: url(../img/dod.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

#menu-list-area .menu-List dt span {
  background: #fff;
  padding-right: 10px;
}

#menu-list-area .menu-List dd {
  float: right;
  margin-top: -2rem;
  background: #fff;
  padding-left: 10px;
}

#menu-list-area .menu-List dl {
  padding-bottom: 20px;
}

#menu-list-area .spmenu-title-area {
  display: none;
}

/*レスポンシブ*/
@media screen and (min-width: 1100px) {
  #header {
    display: none;
  }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
  .header {
    display: none;
  }
  /*-------------------------------------------
ヘッダー
-------------------------------------------*/
  #header {
    height: 120px;
    padding: 0;
    position: relative;
    z-index: 10;
  }
  #header .site-title {
    width: 200px;
    padding-top: 20px;
    padding-left: 5%;
  }
  #navi {
    position: relative;
    top: -1500px;
    width: 100%;
    color: #000;
    background-color: rgba(245, 245, 245, 0.9);
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 20;
    opacity: 0;
  }
  #navi .nav-menu {
    margin-bottom: 60px;
    border-bottom: solid 1px #000;
  }
  #navi .nav-menu li {
    margin: 0;
    padding: 20px;
    font-weight: bold;
    border-top: solid 1px #000;
    text-align: center;
  }
  #navi .nav-menu li a {
    color: #000;
    font-size: 18px;
  }
  #navi .nav-menu li a:hover {
    color: #E42B00;
    opacity: 0.7;
  }
  #navi .nav-menu li img {
    width: 25px;
  }
  .open .toggle_btn span {
    background-color: #E42B00;
  }
  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
  }
  .open #navi {
    top: 0;
    opacity: 1;
  }
  .toggle_btn {
    display: block;
    position: absolute;
    top: 40px;
    right: 5%;
    width: 30px;
    height: 30px;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
    z-index: 20;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #E42B00;
    border-radius: 4px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  .toggle_btn .toggle-center {
    width: 20px;
  }
  #mask {
    display: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, 0.9);
    opacity: .8;
    z-index: 10;
    cursor: pointer;
  }
  /*-------------------------------------------
当店のこだわり
-------------------------------------------*/
  .commitment-area01 .commitment-left h3 {
    font-size: 2.3rem;
  }
  .commitment-area02 .commitment-left h3 {
    font-size: 2.3rem;
  }
  .red-commitment {
    font-size: 20px;
  }
  /*-------------------------------------------
店舗情報
-------------------------------------------*/
  #store-information-area .store-information-left dt {
    width: 130px;
  }
  #store-information-area .store-information-left dd {
    width: calc(100% - 130px);
    padding-left: 10px;
  }
  #store-information-area .store-information-right img {
    height: 450px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
  /*-------------------------------------------
ヘッダー
-------------------------------------------*/
  #header {
    height: 120px;
    padding: 0;
    position: relative;
    z-index: 10;
  }
  #header .site-title {
    width: 150px;
    padding-top: 20px;
    padding-left: 5%;
  }
  #navi {
    position: relative;
    top: -1500px;
    width: 100%;
    color: #000;
    background-color: rgba(245, 245, 245, 0.9);
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 20;
    opacity: 0;
  }
  #navi .nav-menu {
    margin-bottom: 60px;
    border-bottom: solid 1px #000;
  }
  #navi .nav-menu li {
    margin: 0;
    padding: 20px;
    font-weight: bold;
    border-top: solid 1px #000;
    text-align: center;
  }
  #navi .nav-menu li a {
    color: #000;
    font-size: 18px;
  }
  #navi .nav-menu li a:hover {
    color: #E42B00;
    opacity: 0.7;
  }
  #navi .nav-menu li img {
    width: 25px;
  }
  .open .toggle_btn span {
    background-color: #E42B00;
  }
  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
  }
  .open #navi {
    top: 0;
    opacity: 1;
  }
  .toggle_btn {
    display: block;
    position: absolute;
    top: 40px;
    right: 5%;
    width: 30px;
    height: 30px;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
    z-index: 20;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #E42B00;
    border-radius: 4px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  .toggle_btn .toggle-center {
    width: 20px;
  }
  #mask {
    display: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, 0.9);
    opacity: .8;
    z-index: 10;
    cursor: pointer;
  }
  /*-------------------------------------------
当店のこだわり
-------------------------------------------*/
  .commitment-area01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .commitment-area01 .commitment-left {
    width: 100%;
  }
  .commitment-area01 .commitment-left h3 {
    font-size: 2rem;
  }
  .commitment-area01 .commitment-left p {
    padding-left: 5%;
    padding-right: 0;
  }
  .commitment-area01 .commitment-left h4 {
    padding-bottom: 20px;
  }
  .commitment-area01 .commitment-right {
    width: 100%;
    margin-top: 20px;
    padding: 0 5%;
  }
  .commitment-area02 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .commitment-area02 .commitment-left {
    width: 100%;
  }
  .commitment-area02 .commitment-left h3 {
    font-size: 2.3rem;
  }
  .commitment-area02 .commitment-left p {
    padding-right: 0;
    padding-left: 5%;
  }
  .commitment-area02 .commitment-left h4 {
    padding-bottom: 20px;
  }
  .commitment-area02 .commitment-right {
    width: 100%;
    margin-top: 20px;
    padding: 0 5%;
  }
  .red-commitment {
    font-size: 20px;
  }
  .btn-area a {
    padding: 20px 10px;
    width: 200px;
  }
  /*-------------------------------------------
新着情報
-------------------------------------------*/
  .information-area-sns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5%;
  }
  .information-area-sns .information-area-left {
    width: 100%;
    padding-right: 0%;
    padding: 0 5%;
  }
  .information-area-sns .information-area-right {
    width: 100%;
    margin-top: 60px;
    padding-left: 0%;
    padding: 0 5%;
  }
  /*-------------------------------------------
店内の様子
-------------------------------------------*/
  #shop-area .shop-area-comment {
    margin: 60px 5% 0;
  }
  #shop-area .shop-area-comment p {
    padding: 10px 10px;
  }
  /*-------------------------------------------
店舗情報
-------------------------------------------*/
  #store-information-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #store-information-area .commitment-title {
    text-align: center;
    padding-bottom: 50px;
  }
  #store-information-area .store-information-left {
    width: 100%;
  }
  #store-information-area .store-information-left dt {
    padding: 10px 0;
    width: 140px;
  }
  #store-information-area .store-information-left dd {
    padding: 10px 0;
    width: calc(100% - 140px);
  }
  #store-information-area .store-information-right {
    width: 100%;
    padding: 0 5%;
    margin-top: 60px;
  }
  #store-information-area .store-information-right img {
    height: 100%;
  }
  /*-------------------------------------------
フッター
-------------------------------------------*/
  .footer .footer-area .footer-logo {
    width: 180px;
  }
  .footer .footer-area .footer-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer-area .footer-nav li {
    margin: 20px 10px 0;
  }
  /*-------------------------------------------
スタッフ紹介
-------------------------------------------*/
  .staff-introduction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .staff-introduction .staff-introduction-left {
    padding-right: 0;
    width: 100%;
  }
  .staff-introduction .staff-introduction-left img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .staff-introduction .staff-introduction-left .staff-introduction-name {
    font-size: 24px;
  }
  .staff-introduction .staff-introduction-right {
    width: 100%;
  }
  /*-------------------------------------------
メニュー
-------------------------------------------*/
  #menu-area .menu-area01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 7%;
  }
  #menu-area .menu-area01 .menu-area-left {
    width: 100%;
    margin-right: 0;
  }
  #menu-area .menu-area01 .menu-area-right {
    width: 100%;
    margin-left: 0;
    margin-top: 100px;
  }
  #menu-area .lunch-menu-area h4 {
    font-size: 16px;
    text-align: left;
    padding: 0 4%;
  }
  #menu-area .lunch-menu-area span {
    font-size: 14px;
  }
  #menu-area .lunch-menu-area .lunch-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #menu-area .lunch-menu-area dt {
    color: #E42B00;
    width: 10%;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
  }
  #menu-area .lunch-menu-area dd {
    padding: 10px 10px;
    width: calc(100% - 10%);
    text-align: left;
    font-size: 16px;
  }
  #menu-area .menu-title-area {
    display: none;
  }
  #menu-area .spmenu-title-area {
    display: block;
    margin-top: 100px;
  }
  #menu-list-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #menu-list-area .menu-List {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5%;
  }
  #menu-list-area .menu-List .list-box {
    width: 100%;
  }
  #menu-list-area .menu-title-area {
    display: none;
  }
  #menu-list-area .spmenu-title-area {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */